*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.linia {
    margin-top: 3%;
    border: 1px solid black;
    width: 100%;
}

.cos {
    margin-left: 43%;
}

button {
    text-align: center;
    background-color:aqua;
    border-radius: 10px;
    width: 15%;
    height: 40px;
    border: 2px solid black;
    cursor: pointer;
    display: block;
    margin-bottom: 2%;
    margin-top: 1%;
}

button:hover{
    background-color: rgb(2, 185, 185);
    color: white;
}

div h1 {
    padding: 1%;
    font-size: 34px;
    margin-bottom: 2%;
}

form {
    margin-left: 3%;
}

label[for="nom"]{
    margin-left: 3%;
    display: block;
}

label[for="correu"]{
    display: block;
    margin-left: 3%;
    margin-top: 1%;
}

label[for="motiu"]{
    display: block;
    margin-left: 3%;
    margin-top: 1%;
}

select[name="motiu"]{
    width: 9.5%;
    height: 25px;
    text-align: center;
    font-size: 13px;
}

label[for="missatge"]{
    display: block;
    margin-left: 3%;
    margin-top: 1%;
}

aside li {

    margin-left: 2%;
}