* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.linia {
    margin-top: 3%;
    border: 1px solid black;
    width: 100%;
}

.header-logo img {
    width: 10%;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
}

nav {
    margin-top: 2%;
    float: left;
    margin-left: 27%;
    font-size: 150%;
}

.header-rrss {
    margin-left: 85%;
    margin-top: 0.5%; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-rrss a {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-decoration: none; 
    color: black;
    margin: 3%; 
}

.header-rrss a img {
    width: 50px; 
    margin-bottom: 5px;
}