h1 {
    margin-left: 2%;
}

h2 {
    margin-left: 2%;
    margin-top: 2%;
}

.xarxes-socials a{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-left: 2%;
    text-decoration: none; 
    color: black;
}

.xarxes-socials img{
    width: 10%;
    border-radius: 10%;
}

.correu h2{
    margin-left: 2%;
    margin-top: 2%;
}

.correu a{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-left: 2%;
    text-decoration: none; 
    color: black;
}

.correu img{
    width: 10%;
    margin-top: 1%;
}


