.titol h1{
    margin-left: 2%;
}  

.marcatge{
    margin-left: 2%;
    margin-top: 1%;
}  

.fonaments {
    margin-left: 2%;
    margin-top: 1%;
}

.tutoria {
    margin-top: 1%;
    margin-left: 2%;
}